* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header {
    background-color: #ebb378;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    color: white;
}
input {
    border-radius: 1rem;
    padding: 0.5rem;
}
li {
    list-style-type: none;
}
.weather-cards {
    display: flex;
    gap: 20px;
}
.weather-cards .card {
    list-style: none;
    color: #fff;
    padding: 18px 16px;
    border-radius: 5px;
    background: #ebb378;
    width: calc(100% / 5);
}
